# Direct dependencies used by MkDocs setup
mkdocs~=1.6
mkdocs-material
mkdocs-material-extensions~=1.3
pymdown-extensions~=10.2

# Plugins explicitly configured in mkdocs.yml
mkdocs-glightbox
mkdocs-minify-plugin
